<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Money</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: rgb(221, 191, 201);
        }
    </style>
</body>
</head>
<body>
    <center><h1 style="background-color: aqua;">Transfer Money</h1>
    </center>
    <div class="d-flex flex-wrap">
        <div class="bg-yellow mx-auto my-auto" style="background:grey;width:500px;height:450px;border-radius: 40px;margin-top:50px !important;">
            <center><h2 class="mt-8">Send the money</h2></center>
            
            <form method="post" action="/send_money/" class="d-flex flex-column justify-content-center align-items-center">
                {% csrf_token %}
                {{ sender_form.as_p }}
                {{ receiver_form.as_p }}
                <p>Enter the amount you want to send</p>
                <center><input type="number" name="amount" id="amount"></center>
                <br>
                <center><input type="submit" value="send_money" class="btn btn-dark  mx-auto"></center>
                
            </form>
            
            
            </div><br><br>
        </div>
</body>
</html>